<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>S</display-name>
    <description>S</description>

<servlet>
   <servlet-name>CheckerServlet</servlet-name>
   <servlet-class>uk.org.mafoo.selfdefined.Checker</servlet-class>
</servlet>

<servlet-mapping>
   <servlet-name>CheckerServlet</servlet-name>
   <url-pattern>/c</url-pattern>
</servlet-mapping>

</web-app>